body {
  margin: 0px;
  padding: 0px;
  background-color: #333;
  font-family: Arial, sans-serif;
}
#game table {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  border-spacing: 0px;
  position: absolute;
}
#game table tr td {
  padding: 10px;
  border: 1px solid #333;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eee;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: 0.5s;
}
#game .active {
  background-color: #f55;
  transition: 0.2s;
}
